<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
        </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous">
        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/e22ea825df.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{css/facturacion.css}" type="text/css">
<title>Estado</title>
</head>
<body>
<body>
    <nav class="navbar navbar-expand-lg" id="nav1">
        <a class="navbar-brand" href="ajustes">
            <i class="fas fa-bars" id="botonvolver"></i>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <a class="navbar-brand" id="name" href="estado">Estado</a>
        </div>

        <div class="navbar-nav justify-content-end">
            <a class="navbar-brand" href="#">
                <i class="fas fa-comments"></i>
            </a>
            <a class="navbar-brand" href="#">
                <i class="far fa-clock"></i>
            </a>
            <a class="navbar-brand" href="#">
                <i class="fas fa-tools"></i>
                <i class="fas fa-sort-down"></i>
            </a>
            <a class="navbar-brand" href="#">
                <i class="fas fa-user-circle"></i>
            </a>
        </div>
    </nav>
    <div class="container" style="margin: 20px; margin-left: 150px;">
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <div class="panel">
                <div class="panel-heading">
                <div class="row">
                        <div class="col col-sm-3 col-xs-12">
                            <h4 class="title">Estado</h4>
                        </div>
                 </div>
                    <div class="row">
                    	<div class="col-sm-3 col-xs-12">
                                <button class="btn btn-default" title="Reload" type="button" onclick="window.location.href='formestado'" > CREAR </button>
                   
                                <button class="btn btn-default" title="Reload" style="visibility: hidden;" id="basura" type="button" onclick="borrarestado()"><i class="fas fa-trash-alt"></i></button>
                        </div>
                        <div class="col-sm-9 col-xs-12 text-right">
                        <form action="/buscarestado" method="post">
                            <div class="btn_group">
                            <i class="fas fa-filter" id="iconofiltro"></i>
							<select class="custom-select" name="filtro" onchange="cambiartipo()" id="lista">
 							 <option value="0" selected> Filtrar por</option>
 							 <option value="1">Número estado</option>
  								<option value="2">Nombre estado</option> 
							</select>
                                <input type="text" class="form-control" placeholder="Buscar" name="buscar" id="cambiartipo1">
                                <button class="btn btn-default" title="Reload" type="submit"><i class="fas fa-search"></i></button>
                            </div>
                           </form>
                        </div>
                    </div>
                </div>
                <div class="panel-body table-responsive">
                    <table class="table">
                        <thead>
                            <tr id="titulotabla">
                <th scope="col"><input class="form-check-input" type="checkbox" onclick="checkAll(this)" onchange="aparecerbasura(this)"></th>
                            <th scope="col">Código del estado</th>
                            <th scope="col">Nombre del estado</th>
              </tr>
                        </thead>
                        <tbody>
                             <tr th:each="p1:${estado}">
					<th scope="row" style="border-bottom: 0;"><input class="form-check-input" th:id="${p1.Codigoestado}" onchange="aparecerbasura(this)"
						type="checkbox"></th>
					<td th:text="'REF'+${p1.Codigoestado}"></td>
					<td th:text="${p1.Nombreestado}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
 <script th:src="@{/javascript/ventas.js}"></script>
</body>
</html>