<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
        </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous">
        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/e22ea825df.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{css/facturacion.css}" type="text/css">
<title>Facturación</title>
</head>
<body>
<body>
    <nav class="navbar navbar-expand-lg" id="nav1">
        <a class="navbar-brand" href="principal">
            <i class="fas fa-bars" id="botonvolver"></i>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <a class="navbar-brand" id="name" href="facturacion">Facturación/Contabilidad</a>

            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="clientes">Clientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Proveedores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Informes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Configuración</a>
                </li>
            </ul>
        </div>

        <div class="navbar-nav justify-content-end">
            <a class="navbar-brand" href="#">
                <i class="fas fa-comments"></i>
            </a>
            <a class="navbar-brand" href="#">
                <i class="far fa-clock"></i>
            </a>
            <a class="navbar-brand" href="#">
                <i class="fas fa-tools"></i>
                <i class="fas fa-sort-down"></i>
            </a>
            <a class="navbar-brand" href="#">
                <i class="fas fa-user-circle"></i>
            </a>
        </div>
    </nav>
    <div class="container-fluid m-1">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                <div class="row">
                        <div class="col col-sm-3 col-xs-12">
                            <h4 class="title">Facturación</h4>
                        </div>
                 </div>
                    <div class="row">
                    	<div class="col-sm-3 col-xs-12">
                                <button class="btn btn-default" title="Reload" type="button" onclick="window.location.href='formfacturacion'" > CREAR </button>
                   
                                <button class="btn btn-default" title="Reload" style="visibility: hidden;" id="basura" type="button" onclick="borrarfacturacion()"><i class="fas fa-trash-alt"></i></button>
                                <button class="btn btn-default" title="Reload" style="visibility: hidden;" id="lapiz" type="button" onclick="editarfacturacion()"><i class="far fa-edit"></i></button>           
                                
                        </div>
                        <div class="col-sm-9 col-xs-12 text-right">
                        <form action="/buscarfactura" method="post">
                            <div class="btn_group">
                            <i class="fas fa-filter" id="iconofiltro"></i>
							<select class="custom-select" name="filtro" onchange="cambiartipo()" id="lista">
 							 <option value="0" selected style="color: black;"> Filtrar por</option>
 							 <option value="1" style="color: black;">Número facturación</option>
  								<option value="2" style="color: black;">Nombre Cliente</option> 
							</select>
                                <input type="text" class="form-control" placeholder="Buscar" name="buscar" id="cambiartipo1">
                                <button class="btn btn-default" title="Reload" type="submit"><i class="fas fa-search"></i></button>
                            </div>
                           </form>
                        </div>
                    </div>
                </div>
                <div class="panel-body table-responsive">
                    <table class="table">
                        <thead>
                            <tr id="titulotabla">
                <th scope="col"><input class="form-check-input" type="checkbox" id="primeracheckbox" onclick="checkAll(this)" onchange="aparecerbasura(this)"></th>
                <th scope="col">Número</th>
                <th scope="col">Cliente</th>
                <th scope="col">Fecha factura</th>
                <th scope="col">Fecha vencimiento</th>
                <th scope="col">Actividad siguiente</th>
                <th scope="col">Impuestos excluidos</th>
                <th scope="col">Total</th>
                <th scope="col">Estado</th>
                <th scope="col">Estado de Pago</th>
              </tr>
                        </thead>
                        <tbody  id="td">
                            <tr th:each="p1:${factura}" >
                        <th scope="row" style="border-bottom: 0;"><input class="form-check-input" type="checkbox" onchange="aparecerbasura(this)" th:id="${p1.Codigofactura}"></th>
						<td th:text="'REF'+${p1.Codigofactura}"></td>
						<td th:text="${p1.Cliente.Nombrecliente}"></td>
						<td th:text="${p1.Fechafactura}"></td>
						<td th:text="${p1.Fechavencimiento}"></td>
						<td>
						<i class="fas fa-clock" name="reloj"></i>  
                        <span th:text="${p1.Actividad.Nombreactividad}"></span>
						</td>
						<td th:text="${p1.Impuestos}+',00 €'"></td>
						<td th:text="${p1.Total}+',00 €'"></td>
						<td th:text="${p1.Estado.Nombreestado}"></td>
						<td th:text="${p1.Estadopago.Nombreestadopago}"></td>
					</tr>
                        </tbody>
                    </table>
                    
                </div>
                 <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-6 col-xs-6">
                            <ul class="pagination hidden-xs pull-right">
                                <li  class="page-item" th:classappend="${prev == 0 ? 'disabled': ''}">
								<a class="page-link" th:href="@{|/facturacion?page=${prev}|}" style="border-radius: 38% ;padding: 0px; width: 100px; left: 400px">Anterior</a>
							</li>
							<li class="page-item" th:each="page : ${pages}" th:classappend="${current == page ? 'active': ''}">
								<a class="page-link" th:href="@{|/facturacion?page=${page}|}" style="left: 400px" th:text="${page}"></a>
							</li>
							<li class="page-item" th:classappend="${current == last ? 'disabled': ''}">
								<a class="page-link" th:href="@{|/facturacion?page=${next}|}" style="border-radius: 38% ;padding: 0px; width: 100px; left: 400px">Siguiente</a>
							</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 <script th:src="@{/javascript/ventas.js}"></script>
</body>
</html>