<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://kit.fontawesome.com/e22ea825df.js" crossorigin="anonymous"></script>
<title>Principal</title>
    <link rel="stylesheet" th:href="@{css/principal.css}" type="text/css">
</head>
<body onload="leerCookie()">
    <nav class="navbar justify-content-end">
        <a class="navbar-brand" href="#">
            <i class="fas fa-comments"></i>
        </a>
        <a class="navbar-brand" href="#">
            <i class="far fa-clock"></i>
        </a>
        <a class="navbar-brand" href="#">
            <i class="fas fa-tools"></i>
            <i class="fas fa-sort-down"></i>
        </a>
        <a class="navbar-brand" href="#">
            <i class="fas fa-user-circle"></i> 
            <span id="nombre1">Bienvenido/a, </span><span th:if="${LoginOk}" id="nombre1" th:text="${LoginOk}"> Bienvenido </span>
        </a>
      </nav>
<div class="container" id="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="serviceBox">
                    <div class="service-icon" onclick=" window.location.href='conversaciones'">
                        <i class="fas fa-comment-dots" ></i></span>
                    </div>
                    
                     <h4 id="conver">Conversaciones</h4>
                </div>
            </div>
            
            <div class="col-md-2 col-sm-4">
            <div class="serviceBox purple">
                    <div class="service-icon" onclick=" window.location.href='ventas'" >
                   
                        <span> <i class="fas fa-chart-line"></i></span>
                    </div>
                     <h4 id="vent"> Ventas </h4>
          </div>
            </div>
            <div class="col-md-2 col-sm-4">
                <div class="serviceBox red">
                    <div class="service-icon" onclick=" window.location.href='facturacion'" >
                        <span> <i class="fas fa-file-invoice-dollar"></i></span>
                    </div>
                     <h4 id="fac">Facturación</h4>
                    
                    
                </div>
            </div>
            <div class="col-md-2 col-sm-4">
                <div class="serviceBox blue">
                    <div class="service-icon" href="#">
                        <span> <i class="fas fa-cubes" ></i></span>
                    </div>
                     <h4 id="apli">Aplicaciones</h4>
                 
                </div>
            </div>
            <div class="col-md-2 col-sm-4">
                <div class="serviceBox red">
                    <div class="service-icon" onclick=" window.location.href='ajustes'">
                        <span> <i class="fas fa-cog" ></i></span>
                    </div>
                     <h4 id="ajus" >Ajustes</h4>
                </div>
            </div>
        </div>
    </div>
       
<script th:src="@{/javascript/inicio.js}"></script>
</body>
</html>