<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://kit.fontawesome.com/e22ea825df.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{css/registro.css}" type="text/css">  
<title>Registro</title>
</head>
<body>
<div class="wrapper">
    <form id="formulario" action="/registro" method="post">
        <div class="h5 font-weight-bold text-center mb-3">Registration</div>
        <div class="form-group d-flex align-items-center">
            <div class="icon"><span class="far fa-user"></span></div><input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre">
        </div>
        <div class="form-group d-flex align-items-center">
            <div class="icon"><span class="far fa-user"></span></div><input type="text" class="form-control" id="apellidos" name="apellidos" placeholder="Apellidos">

        </div>
        <div class="form-group d-flex align-items-center">
            <div class="icon"><span class="far fa-user"></span></div><input type="text" class="form-control" id="usuario" name="usuario" placeholder="Usuario">
        </div>
        <div class="form-group d-flex align-items-center">
            <div class="icon"><span class="fas fa-phone"></span></div> <input type="tel" class="form-control" id="tel" name="tel" placeholder="Teléfono">
        </div>
        <div class="form-group d-flex align-items-center">
            <div class="icon"><span class="far fa-envelope"></span></div> <input type="email" class="form-control" id="correo" name="correo" placeholder="Correo electrónico">
        </div>
        <div class="form-group d-flex align-items-center">
            <div class="icon"><span class="fas fa-key"></span></div>  <input type="password" class="form-control" id="contrasena" name="contrasena" placeholder="Contraseña">
            <div class="icon btn"><span class="fas fa-eye-slash"></span></div>
            
        </div>
        <div class="form-group d-flex align-items-center">
            <div class="icon"><span class="fas fa-key"></span></div>  <input type="password" class="form-control" id="confirmarcontrasena" placeholder="Confirmar contraseña">
            <div class="icon btn"><span class="fas fa-eye-slash"></span></div>
            
        </div >
  
        <button type="submit"   class="btn btn-primary "  id="crearcuenta" onclick="enviar_registro()"> Crear una
            cuenta</button>
       
        <div class="connect border-bottom mt-4 mb-4"></div>
        <ul class="p-0 social-links">
            <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
            <li><a href="#"><span class="fab fa-whatsapp"></span></a></li>
            <li><a href="#"><span class="fab fa-twitter"></span></a></li>
        </ul>
    </form>
</div>
 <script th:src="@{/javascript/inicio.js}"></script>
</body>
</html> 
