		
		html, body{
		background: linear-gradient(to right, #2980b9, #2c3e50);
		
		}
        #nav1 {
            background: linear-gradient(to right, #2980b9, #2c3e50);
            color: #2980b9;
            text-align: center;
            align-content: center;
            padding-left: 20px;
        }

        a {
            color: white;
            font-size: 14px;
        }

        a:hover {
            font-weight: bold;
            color: rgb(65, 62, 62);
        }

        .nav-item {
            margin-left: 10px;
        }

        #name {
            margin-left: 20px;
            margin-right: 50px;
        }

        .container-fluid {
            margin-top: 10px;
            margin-left: 10px;
        }

        #Facturas {
            color: rgb(172, 165, 165);
            font-size: 23px;
        }

        #boton {
            padding-top: 10px;
        }

        #buscar {
            border-top: 0;
            border-left: 0;
            border-right: 0;
            border-bottom: 2px solid rgb(172, 165, 165);
            ;
            border-radius: 0;
            width: 600px;
        }

        #caja1 {
            border: 2px solid rgb(172, 165, 165);
            color: rgb(143, 134, 134);
            padding: 5px;
        }
        
        
         #botonvolver{
        font-size: 25px; 
        color: rgb(247, 239, 239);
        }
        
         .fas .fa-comments{
        font-size: 23px; 
        color: rgb(247, 239, 239);
        }
        .far .fa-clock{
        font-size: 23px; 
        color: rgb(247, 239, 239);
        }
        .fas .fa-tools{
        color:rgb(247, 239, 239);
        }
        .fas .fa-sort-down{
        color:rgb(247, 239, 239);
        }
        .fas .fa-user-circle{
        font-size: 25px;
        color:rgb(247, 239, 239);
        background-color: rgb(194, 189, 189); 
        border-radius: 100%;
        }
        #textouser{
        font-size: 14px; 
        color: white;
        }
        
        #botonbuscar{
        background-color: white; 
        color: rgb(0, 0, 0); 
        border: 0;
        }
        
        #botonguardar{
        color:white;
        border: 0; 
       	padding: 8px;
        background-color: cadetblue;
        }
        
        #botoncargar{
        color:cadetblue;
        border: 0;
        padding: 8px; 
        background-color: white;
        }
        
        #filtro
        {
		background-color: rgb(120, 109, 126); 
		color:rgb(247, 239, 239); 
		padding: 3px;
		}
		
		.fas .fa-times{
		color:rgb(143, 134, 134);
		}
		
		#row2{
		padding-top: 10px;
		}
		
		#navbar1{
        font-family:Arial; 
        color: rgb(92, 87, 87); 
        font-size: medium;
        }
		
		#botoncrear{
		color:white;
		border: 0; 
		padding: 8px; 
		background-color: limegreen;
		}

		#botonborrar{
		color:red;
		border: 0;
		padding: 8px;
		background-color: white;
		}
		
		 #navbar-agruparpor
        {
        padding-left: 8px;
		}
		
		#navbar2
		{
		padding-left: 3px;
		}
		
		 #divtabla{
        border-top: 2px solid lightgray;
        color: lightslategray; 
        margin-top: 20px;
        }
        
        #titulotabla{
        border-bottom: 2px solid lightgrey;
        }
        
        i[name=reloj]{
        background-color: orange;
        color: white;
        padding: 3px;
        border-radius: 100%; 
        margin-right: 5px;
        }
        
        .demo{ font-family: 'Noto Sans', sans-serif; }
.panel{
    background: linear-gradient(to right, #2980b9, #2c3e50);
    
   
    box-shadow: 0 0 0 5px rgba(0,0,0,0.10),0 0 0 100px rgba(0,0,0,0.05);
     margin: 0%;
}
.panel .panel-heading{
    padding: 20px 15px;
    border-radius: 10px 10px 0 0;
    margin: 0;
}
.panel .panel-heading .title{
    color: #fff;
    font-size: 28px;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 40px;
    margin: 0;
}
.panel .panel-heading .btn{
    color: rgba(255,255,255,0.5);
    background: transparent;
    font-size: 16px;
    text-transform: capitalize;
    border: 2px solid #fff;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
}
.panel .panel-heading .btn:hover{
    color: #fff;
    text-shadow: 3px 3px rgba(255,255,255,0.2);
}
.panel .panel-heading .form-control{
    color: #fff;
    background-color: transparent;
    width: 35%;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 20px;
    display: inline-block;
    transition: all 0.3s ease 0s;
}
.panel .panel-heading .form-control:focus{
    background-color: rgba(255,255,255,0.2);
    box-shadow: none;
    outline: none;
}
.panel .panel-heading .form-control::placeholder{
    color: rgba(255,255,255,0.5);
    font-size: 15px;
    font-weight: 500;
}
.panel .panel-body{ padding: 0; }
.panel .panel-body .table thead tr th{
    color: #fff;
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 12px;
    border: none;
}
.panel .panel-body .table tbody tr td{
    color: #fff;
    font-size: 15px;
    padding: 10px 12px;
    vertical-align: middle;
    border: none;
}
.panel .panel-body .table tbody tr:nth-child(even){ background-color: rgba(255,255,255,0.05); }
.panel .panel-body .table tbody .action-list{
    padding: 0;
    margin: 0;
    list-style: none;
}
.panel .panel-body .table tbody .action-list li{
    display: inline-block;
    margin: 0 5px;
}
.panel .panel-body .table tbody .action-list li a{
    color: #fff;
    font-size: 15px;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease 0s;
}
.panel .panel-body .table tbody .action-list li a:hover{ text-shadow: 3px 3px 0 rgba(255,255,255,0.3); }
.panel .panel-body .table tbody .action-list li a:before,
.panel .panel-body .table tbody .action-list li a:after{
    content: attr(data-tip);
    color: #fff;
    background-color: #111;
    font-size: 12px;
    padding: 5px 7px;
    border-radius: 4px;
    text-transform: capitalize;
    display: none;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: -32px;
    transition: all 0.3s ease 0s;
}
.panel .panel-body .table tbody .action-list li a:after{
    content: '';
    height: 15px;
    width: 15px;
    padding: 0;
    border-radius: 0;
    transform: translateX(-50%) rotate(45deg);
    top: -18px;
    z-index: -1;
}
.panel .panel-body .table tbody .action-list li a:hover:before,
.panel .panel-body .table tbody .action-list li a:hover:after{
    display: block;
}
.panel .panel-footer{
    color: #fff;
    background-color: transparent;
    padding: 15px;
    border: none;
}
.panel .panel-footer .col{ line-height: 35px; }
.pagination{ margin: 0; }
.pagination li a{
    color: #fff;
    background-color: transparent;
    border: 2px solid transparent;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 31px;
    width: 60px;
    height: 35px;
    padding: 0;
    margin: 0 3px;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
}
.pagination li a:hover{
    color: #fff;
    background-color: transparent;
    border-color: rgba(255,255,255,0.2);
}
.pagination li a:focus,
.pagination li.active a,
.pagination li.active a:hover{
    color: #fff;
    background-color: transparent;
    border-color: #fff;
}
.pagination li:first-child a,
.pagination li:last-child a{
    border-radius: 50%;
}
@media only screen and (max-width:767px){
    .panel .panel-heading .title{
        text-align: center;
        margin: 0 0 10px;
    }
    .panel .panel-heading .btn_group{ text-align: center; }
}

#iconofiltro{
	color: #fff;
}

#lista {
	background-color: inherit; 
	color: #fff;
	width: 120px; 
	padding: 6px; 
	border:0;
}

 #pedidos {
            color: white;
            font-size: 14px;
        }

        #pedidos:hover {
            font-weight: bold;
            color: rgb(65, 62, 62);
        }
