body{
    
 background-image : url(../imagenes/imagen1.jpg);
  margin: 0%;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment: fixed;
 }

 #iconos{
     padding: 150px;
 }
 #icon{
     color: white;
     padding: 20px; 
     font-size: 40px;
     text-shadow: slategray 2px 2px 2px;
     box-shadow: black 2px 2px 8px;
     margin-left: 30px;
     text-align: center;
 }
 #texto{
     color: white;
     padding-top: 10px;
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-size: medium;
     margin-left: 30px;
 }
 
 .fas {
     color: rgb(247, 239, 239);
 }
 
 .fas .fa-comments {
     font-size: 23px; 
 }
 
 .fas .fa-user-circle {
     font-size: 25px; 
     background-color: rgb(194, 189, 189); 
     border-radius: 100%;
 }
 
 i[name=icono1] {
     background-color: palevioletred;
 }
 
 i[name=icono2] {
 background-color:coral;
 }
 
 i[name=icono3] {
 background-color:coral;
 width: 80px;
 }
 
 i[name=icono4] {
 background-color:darkred;
 }
 
 i[name=icono5] {
 background-color:rgb(114, 138, 114);
 }
 
 .far {
     font-size: 23px; 
     color: rgb(247, 239, 239);
 }
 
 #nombre1 {
     font-size: 14px; 
     color: white;
 }
 
 #ajus{
 color: white;
 }
 
 #apli{
 color: white;
 }
 
 #fac{
 color: white;
 }
 #vent{
 color: white;
 }
 
 #conver{
 color: white;
 }
 
 
 
 
 
 
 .serviceBox{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 0 10px;
    position: relative;
    z-index: 1;
}
.serviceBox .service-icon{
    color: #fff;
    background: linear-gradient(to right, #47CA4E, #01BB93);
    font-size: 50px;
    line-height: 93px;
    height: 90px;
    width: 100px;
    margin: 0 auto 40px;
    border-radius: 50%;
    position: relative;
}
.serviceBox .service-icon:after{
    content: '';
    background: linear-gradient(to right, #027E9A, #02C06D);
    height: 100%;
    width: 100%;
    border-radius: 40% 40% 50% 50%;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    position: absolute;
    left: 0;
    bottom: -16px;
    z-index: -1;
}
.serviceBox .title{
    color: #027E9A;
    font-size: 19px;
    font-weight: 500;
    text-transform: capitalize;
    margin: 0 0 7px;
}
#container{
	padding:150px;
	
}
.serviceBox.red .service-icon{ background: linear-gradient(to right, #FF8D00, #FF2566); }
.serviceBox.red .service-icon:after{ background: linear-gradient(to right, #CD2B3F, #FE6626); }
.serviceBox.red .title{ color: #CD2B3F; }
.serviceBox.purple .service-icon{ background: linear-gradient(to right, #C92CB0, #80208C); }
.serviceBox.purple .service-icon:after{ background: linear-gradient(to right, #6020AB, #9323A1); }
.serviceBox.purple .title{ color: #6020AB; }
.serviceBox.blue .service-icon{ background: linear-gradient(to right, #00C3E4, #5941FD); }
.serviceBox.blue .service-icon:after{ background: linear-gradient(to right, #373171, #0097F3); }
.serviceBox.blue .title{ color: #373171; }
@media only screen and (max-width: 990px){
    .serviceBox{ margin: 0 0 30px; }
}